@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');  /* Roboto Mono Font*/

body {
    background-color: white;
    color: black;
    font-family: Roboto Mono;
    text-align: center;
    text-size-adjust: 100;
    justify-content: center;
}

#sep-line {
    size: 1;
    width: 60%;
    color: black;
}

#name {
    font-weight: bold;
}

a#github-user-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a#github-user-link:hover {
    color: #696969;
    font-weight: bold;
    text-decoration: none;
}

a#nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a#nav-link:hover {
    color: #696969;
    font-weight: bold;
    text-decoration: none;
}