@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');  /* Roboto Mono Font*/

body {
    background-color: gray;
}

.hello-world {
    color: whitesmoke;
    font-family: Roboto Mono;
    position: absolute;
    top: 50%;
}