@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');  /* Roboto Thin 100 Font*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');  /* Lato 400 Font */


/* body */

body {
    background-color: #F6F0BC;
    color: #444;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.body-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 0rem;
}

/* Other elements*/

hr#sep-line {
    size: 1;
    width: 100%;
    border-color: gainsboro;
}

#name {
    font-weight: bold;
}

#role {
    color: black;
}

a#github-user-link {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

a#github-user-link:hover {
    color: #696969;
    font-weight: bold;
    text-decoration: none;
}

a#nav-link {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

a#nav-link:hover {
    color: #696969;
    font-weight: bold;
    text-decoration: none;
}

.main-content {
    border: 3px solid #444;
    padding: 1rem 1rem
}

img#link-image:hover {
    filter: brightness(75%)
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 50px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid rgba(139, 139, 139, 0.5);
    background: #dad39c; /* linear-gradient(-45deg, #D3D3D3, #ADD8E6); */
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 5%;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #696969;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

a#contact-email {
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

a#contact-email:hover {
    color: #696969;
}